<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>EMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("/images/background-balance-commerce-583846.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.footer {
   position: fixed;
   left: 46px;
   bottom: 0;
   width: 1150px;
   opacity:0.8;
   background-color: black;
   color: white;
   text-align: center;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <img th:src="@{/images/ems_logo.png}" style="width:230px;height:90px;" alt="logo" align="center"/>
    </div>

    <div align="center" class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">EMPLOYEE MANAGEMENT SYSTEM</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <a class="btn btn-primary" href="http://localhost:8081/lg">MORE</a>


    </div>
    <div class="footer">
        <p>&copy; EMS 2019</p>
    </div>
</div>

</body>
</html>

