<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleMe.css}">

</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="logo">
        <img src="images/ems_logo.png" style="width:230px;height:90px" alt="logo" align="top"/>
    </div>


    <div class="square">
        <h1 align="center">ADD EMPLOYEE</h1>

    </div>

    <div class="purple-square">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/lg">HOME</a></li>
            <li class="active"> <a href="/employee">EMPLOYEE</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/tasks">TASKS</a></li>
            <li><a href="/projectwithtasks">OPERATIONS</a></li>
        </ul>

    </div>
    <div class="create-btn">

    </div>


    <div class="back-btn">

        <a th:href="@{/employee}"> <button  type="submit" class="btn btn-primary">Back</button></a>

    </div>

    <div class="container1">

        <form name="customers-form" th:action="@{/employees}" method="post">
            <div class="form-group">
                <label for="usrfname">Employee First Name:</label>
                <input type="text" class="form-control" id="usrfname" name="emFirstName">
            </div>
            <div class="form-group">
                <label for="usrlname">Employee Last Name:</label>
                <input type="text" class="form-control" id="usrlname" name="emLastName">
            </div>
            <div class="form-group">
                <label for="usrid">Employee Number:</label>
                <input type="text" class="form-control" id="usrid" name="emNo">
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary submitbtn">Submit</button>


                <div class="reset-btn resetbtn">

                    <a th:href="@{/employee}">
                        <button type="reset"class="btn btn-primary">Reset
                        </button>
                    </a>

                </div>
            </div>

        </form>


    </div>


</div>


</div>


<div class="footer">
    <p> &copy; EMS 2019</p>
</div>
</div>

</body>
</html>

