<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>EMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleMe.css}">


</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="logo">
        <img src="images/ems_logo.png" style="width:230px;height:90px" alt="logo" align="top"/>
    </div>

    <div class="square">
        <h1 align="center">EMPLOYEE MANAGEMENT SYSTEM</h1>

    </div>
    <div class="signout-btn">

        <form class="logout" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary">Sign out</button>
        </form>

    </div>
    <div class="purple-square">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="/lg">HOME</a></li>
            <li><a href="/employee">EMPLOYEE</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/tasks">TASKS</a></li>
            <li sec:authorize="hasRole('ROLE_manager')"><a href="/projectwithtasks">OPERATIONS</a></li>
        </ul>

    </div>

    <span style="margin:0 auto;text-align:center" class="welcome_msg">Welcome &nbsp
        <div class="" sec:authentication="name" sec:authorize="isAuthenticated()"></div></span>



<div>

    <a href="/employee"> <button  class="button button1">Employee</button> </a>


</div>

    <div>

        <a href="/projects"> <button  class="button button2">Projects</button> </a>


    </div>

    <div>

        <a href="/tasks"> <button  class="button button3">Tasks</button> </a>


    </div>

    <div sec:authorize="hasRole('ROLE_manager')">


        <a href="/projectwithtasks"> <button  class="button button4">Operations</button> </a>

    </div>

</div>


<div class="square2">

    <div>
        <li><a href="/create-employee">Add Employee</a></li>
        <li><a href="/create-project">Add Project</a></li>
        <li><a href="/create-task">Add Task</a></li>
    </div>
    <h1 align="center"></h1>

</div>


</div>
<div class="footer">
    <p>&copy; EMS 2019</p>
</div>
</div>

</body>
</html>
