<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>EMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleMe.css}">

    <style>
    .submitbtn1 {

     position: absolute;
  top: 370px;
  left: 1000px;

    }

    </style>

</head>

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="logo">
        <img src="images/ems_logo.png" style="width:230px;height:90px" alt="logo" align="top"/>
    </div>


    <div class="square">
        <h1 align="center">OPERATIONS</h1>

    </div>

    <div class="purple-square">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/lg">HOME</a></li>
            <li><a href="/employee">EMPLOYEE</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/tasks">TASKS</a></li>
            <li class="active" sec:authorize="hasRole('ROLE_manager')"><a href="/projectwithtasks">OPERATIONS</a></li>
        </ul>

    </div>
    <div class="create-btn">

    </div>


    <div class="back-btn">

        <a th:href="@{/employee}"> <button  type="submit" class="btn btn-primary">Back</button></a>

    </div>

    <div class="container1">

        <form name="projectwithtask-form" th:action="@{/projectwithtask}" method="POST">


        <div class="rowa">
            <div class="column" >
                <h3><Employee>Employee</Employee></h3>
                <div class="dropdown" >
                    <select name="employeeId">
                        <option th:each="employee : ${employees}" th:value="${employee.emId}" th:text="${employee.emFirstName}"></option>
                    </select>

                </div>
            </div>
            <div class="column">
                <h3>Project</h3>
                <div class="dropdown">
                    <select name="projectId">
                        <option th:each="project : ${projects}" th:value="${project.prName}+'%@%'+${project.prId}" th:text="${project.prName}"></option>
                    </select>

                </div>
            </div>
            <div class="column">

                <h3>Tasks</h3>
                <div class="form-group" th:each="task: ${tasks}">
                    <label>
                        <input type="checkbox" id="taskName" name="taskName" th:text="${task.taName}" th:value="${task.taName}+'%@%'+${task.taId}">
                    </label>

                </div>
            </div>
        </div>






            <div class="submitbtn1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>


    </div>


</div>


</div>


<div class="footer">
    <p> &copy; EMS 2019</p>
</div>
</div>

</body>
</html>

