<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/styleMe.css}">
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="logo">
      <img th:src="@{
      /images/ems_logo.png}" style="width:230px;height:90px" alt="logo" align="top"/>
  </div>


    <div class="square">
        <h1 align="center">EMPLOYEE PROJECTS</h1>

    </div>

    <div class="purple-square">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/lg">HOME</a></li>
            <li> <a href="/employee">EMPLOYEE</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/tasks">TASKS</a></li>
            <li class="active"><a href="/projectwithtasks">OPERATIONS</a></li>
        </ul>

    </div>

    <div class="back-btn">

        <a th:href="@{/employee}"> <button  type="submit" class="btn btn-primary">Back</button></a>

    </div>

<div class="container1">

    <div>
        <form name="fetch-employees" th:action="@{/employees}" th:formmethod="POST">

        </form>
    </div>
    <div th:unless="${error==null}">
        <table class="table">
            <thead>
            <tr>
                <td>Status code</td>
                <td>Error</td>
            </tr>
            </thead>

            <tr>
                <td><span th:text="${error.statusCode}"></span></td>
                <td><span th:text="${error.body}"></span></td>
            </tr>
        </table>
    </div>


    <div th:if="${error==null}">

        <table class="table">

            <thead>
            <tr style="font-size:18px">
                <td>PROJECT NAME</td>

                <td></td>
            </tr>
            </thead>

            <tbody>
<tr th:each="project: ${projectName}">
    <td><span th:href="@{/projectwithtaskwithemployee/{id}/{id1}(id=${employeeId},id1=${project})}" th:text="${project}"></span></td>

    <td align="right"> <a th:href="@{/tasksforaproject}"> <button  type="submit" class="btn btn-primary">view Tasks</button></a></td>
    <td></td>
            </tr>

            </tbody>

        </table>
    </div>





</div>
</div>

    
  </div>




  <div class="footer">
      <p> &copy; EMS 2019</p>
  </div>
</div>

</body>
</html>





































































































