<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EMS-Employee</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/styleMe.css}">
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="logo">
        <img src="../images/ems_logo.png" style="width:230px;height:90px" alt="logo" align="top"/>

    </div>


    <div class="square">
        <h1 align="center">EMPLOYEE DETAILS</h1>

    </div>

    <div class="purple-square">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/lg">HOME</a></li>
            <li class="active"> <a href="/employee">EMPLOYEE</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/tasks">TASKS</a></li>
            <li><a href="/projectwithtasks">OPERATIONS</a></li>
        </ul>

    </div>

    <div class="back-btn">

        <a th:href="@{/employee}"> <button  type="submit" class="btn btn-primary">Back</button></a>

    </div>

    <div class="container1">

        <table class="table">

            <thead>
            <tr style="font-size:18px">
                <td>Employee Id</td>
                <td>Employee First Name</td>
                <td>Employee Last Name</td>
                <td>Employee Number</td>
                <td></td>
            </tr>
            </thead>

            <tbody>

            <tr >
                <td><span th:text="${employee.emId}"></span></td>
                <td><span th:text="${employee.emFirstName}"></span></td>
                <td><span th:text="${employee.emLastName}"></span>
                <td><span th:text="${employee.emNo}"></span> </td>
                <td> <a th:href="@{/projectwithtask/{id}(id=${employee.emId})}"> <button  type="submit" class="btn btn-primary">view Projects</button></a></td>


            </tr>

            </tbody>

        </table>
    </div>





</div>
</div>


</div>




<div class="footer">
    <p>&copy; EMS 2019</p>
</div>
</div>

</body>
</html>

